html{
  margin: 0, auto;
  height: 100%;
}
body {
  min-width: 100%;
}
#marginFix{
  margin-top: 5%;
}
main{
  width: 80%;
  margin:0 auto;
  height:580px;
  background-color: grey;
  border-radius: 25px;
}
#pixelBox{
  width:90%;
  margin-left: 5.5%;
  position: relative;
  top:25px;
}
.aPixel{
  width:10px;
  height:10px;
  margin:1px;
  background-color: white;
  float:left;
}
