html{
  margin: 0, auto;
  height: 100%;
}
body{
  background-color: #54678C;
}
#marginFix{
  margin-top: 3%;
}
main{
  width: 80%;
  margin:0 auto;
  height:620px;
  background-color: #C0B3AB;
  border-radius: 25px;
}
#pixelBox{
  width:85%;
  margin-left: 5.5%;
  position: relative;
  top:25px;
}
.aPixel{
  width:1.1%;
  padding-bottom:1.1%;
  background-color: white;
  border: 1px solid #C0B3AB;
  float:left;
}
#colorBox{
  width:100%;
  clear:left;
  position: relative;
  top:35px;
}
#black{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 80px;
  border-radius: 35px;
  background-color: black;
}
#white{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 35px;
  background-color: white;
}
#c1{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 80px;
  border-radius: 35px;
  background-color: #FF0000;
}
#c2{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 35px;
  background-color: #FF4000;
}
#c3{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 35px;
  background-color: #FFE50D;
}
#c4{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 35px;
  background-color: #2BE500;
}
#c5{
  width:65px;
  height:65px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 35px;
  background-color: #0019FF;
}
